.nav-logo {
  flex: 1;
  height: 100%;
  padding: 5px;
}
.nav-logo img {
  height: 100%;
  width: 100px;
  float: left;
}

.link-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 3;
}

.link-box a {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.link-box a:hover {
  background-color: rgba(190, 190, 190, 0.5);
}

.nav-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: gray;
  height: 50px;
  width: 100%;
  min-width: 280;
}

.nav-box button {
  height: 100%;
  border: none;
  flex: 1;
  background-color: black;
  color: white;
}

.search-box {
  margin: 0px 10px;
  flex: 2;
}

.search-box input {
  border-radius: 10px;
  border: none;
  outline: none;
  height: 30px;
  max-width: 600px;
  width: 100%;
  padding: 10px;
  float: right;
}

@media screen and (max-width: 500px) {
  .nav-logo img {
    width: 80px;
  }
  .link-box a {
    font-size: 0.8rem;
  }
  .nav-box button {
    font-size: 0.8rem;
  }
}