* {
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
  width: 100vw;
  min-width: 380px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
a {
  text-decoration: none;
  outline: none;
  color: black;
}
button {
  outline: none;
}
nav {
  width: 100%;
}

.visually-hidden {
  display: none;
}